@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --cor-primaria: #22D4FD;
    --cor-secundaria: #551a8b;
    --cor-terciaria: black;
    --cor-quaternaria: white;
    --cor-quinaria: darkgray;
    --cor-senaria: darkblue;
}


* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-quaternaria);
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 0% 0%;
}

.cabecalho__menu {
    display: flex;
    gap: 6px;
}

.cabecalho__menu__links {
    margin: 3px;
    border: 2px var(--cor-terciaria);
    background-color: var(--cor-primaria);
    padding: 0.2% 0.2%;
    color: var(--cor-secundaria);
    text-decoration: none;
        
}


 /* CSS LOCAL - pagina curriculo */

.container__curriculo {
    margin: 1.5% 7.5% 0% 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.container__curriculo__titulo {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.imagem-pequena {
    padding-left: 42.9%;
    width: 23%;
    height: auto;
}

.container__curriculo__titutlo__secundario {
    padding: 1.5% 0% 0% 0%;
    font-size: 1.375rem;
}

.container__curriculo__introducao {
    padding: 1.1% 0% 0% 0%;
}

.container__curriculo__introducao__skills {
    padding: 0.5% 1% 0.5% 3%;
}

.container__curriculo__experiencia {
    padding: 1.1% 0% 0% 3%;
}

.container__curriculo__estudos {
    padding: 1.1% 0% 0% 3%;
}


.container__curriculo__certificados {
    max-width: 28.9%; /* Ou um valor fixo como 300px */
    height: auto;
}


 /* CSS LOCAL - pagina curriculo */


.container {
    margin: 1.5% 7.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.container__conteudo {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container__conteudo__titulo {
    font-size: 2.375rem;
    font-family: "Big Shoulders Inline", sans-serif;
}

.container__conteudo__texto {
    color: var(--cor-quinaria);
    font-size: 1.125rem;
    font-family: "Big Shoulders Stencil", sans-serif;
}

.container__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
}

.container__links__Subtitulo {
    font-family: "Big Shoulders Stencil", sans-serif;
    font-size: 1.1875rem;
}

main {
    flex: 1;
}

.container__links__link {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 0.06rem solid;
    width: 25%;
    text-align: center;
    border-radius: 0.375rem;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    text-decoration: none;
}

.container__links__link:hover {
    background-color: var(--cor-senaria);
    cursor: pointer;
    color: white;
    border: 2px solid var(--cor-terciaria);
}

.container__imagem__selfie {
    width: 27%;
}

.rodape {
    background-color: var(--cor-primaria);
    margin: 0.0%;
    border: 1px solid var(--cor-terciaria);
    padding: 10px;
    p {
        color: var(--cor-secundaria);
    }
}

@media (max-width: 853px) {
    .container {
        flex-direction: column-reverse;
    }
}
